.main {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxSG0lHmkVRftn___eN36H5RDKQClZMwmiPmvZnY4yvw&s");
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    background-size: cover;
}





.btn {
    top: 60%;
    left: 50%;
    position: relative;
}